<?xml version="1.0" encoding="UTF-8"?>
<!--
  Konfiguracja PHPUnit.

  Testy integracyjne czytaja wylacznie zmienne TEST_DB_*, nigdy DB_* aplikacji -
  setUp() kasuje i tworzy tabele od nowa, wiec pomylka nazwy bazy oznaczalaby
  utrate danych roboczych. Domyslnie celuja w baze `solidus_test`.

  Szkielet yiisoft/app przychodzi z Codeception (tests/Console, tests/Web itd.);
  te zestawy zostaja nietkniete i uruchamia je `composer test-codeception`.
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="APP_ENV" value="test"/>
        <!-- Nadpisz przez zmienne srodowiskowe, jesli baza testowa stoi gdzie indziej. -->
        <env name="TEST_DB_HOST" value="127.0.0.1"/>
        <env name="TEST_DB_PORT" value="3306"/>
        <env name="TEST_DB_NAME" value="solidus_test"/>
        <env name="TEST_DB_USER" value="solidus"/>
        <env name="TEST_DB_PASSWORD" value="solidus"/>
    </php>
</phpunit>
